<!--FLEXBOX FROGGY SOLUTIONS-->

#pond_1 {
        display: flex;
        justify-content:flex-end
        }
#pond_2 {
        display: flex;
        justify-content:center;
        }  
#pond_3 {
        display: flex;
        justify-content:space-around;
        }  
#pond_4 {
        display: flex;
        justify-content:space-between
        }  
#pond_5 {
        display: flex;
        align-items:flex-end;
        }
#pond_6 {
        display: flex;
        justify-content:center;
        align-items:center;
        }    
#pond_7 {
        display: flex;
        justify-content:space-around;
        align-items:flex-end
        } 
#pond_8 {
        display: flex;
        flex-direction:row-reverse
        }   
#pond_9 {
        display: flex;
        flex-direction:column;
        }  
#pond_10{
        display: flex;
        flex-direction:row-reverse;
        justify-content:flex-end;
        }  
#pond_11{
        display: flex;
        flex-direction:column;
        justify-content:flex-end;
        }
#pond_12{
        display: flex;
        flex-direction:column-reverse;
        justify-content:space-between;
        }
#pond_13{
        display: flex;
        flex-direction:row-reverse;
        justify-content:center;
        align-items:flex-end
        } 
#pond_14{
        display: flex;
        }
.yellow {
        order:1
        }
#pond_15{
        display: flex;
        }
  .red  {
        order:-3
        } 
#pond_16{
        display: flex;
        align-items: flex-start;
        }
 .yellow{
        align-self:flex-end
        }
#pond_17{
        display: flex;
        align-items: flex-start;
        }
.yellow {
        order:2;
        align-self:flex-end;
        }
#pond_18{
        display: flex;
        flex-wrap:wrap;
        }
#pond_19{
        display: flex;
        flex-direction:column;
        flex-wrap:wrap;
        }
#pond_20{
        display: flex;
        flex-flow:column wrap;
        }
#pond_21{
        display: flex;
        flex-wrap: wrap;
        align-content:flex-start;
        }
#pond_22{
        display: flex;
        flex-wrap: wrap;
        align-content:flex-end;
        }
#pond_23{
        display: flex;
        flex-wrap: wrap;
        flex-direction:column-reverse;
        align-content:center;
        }
#pond_24{
        display: flex;
        flex-direction:column-reverse;
        flex-wrap:wrap-reverse;
        justify-content:center;
        align-content:space-between;
        }